[submodule "deps/DirectXMath"]
	path = deps/DirectXMath
	url = https://github.com/jafffy/DirectXMath.git
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "DisplayComplexity/tinyobjloader"]
	path = DisplayComplexity/tinyobjloader
	url = https://github.com/jafffy/tinyobjloader.git
